*
{
  margin: 0;
  padding: 0;
}
body 
{
  font-family: sans-serif;
}
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar{
  background-image: linear-gradient(to right, #ffc04c, #ffa500);
  padding: 0 !important;
}
.navbar-nav li a
{
  font-weight:600;
}



#banner
{
  background-image: linear-gradient(to right, #ffc04c, #ffa500);
  padding-top: 5%;
}
.promo-title
{
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
  
}


#hivedata
{
  padding-bottom: 50px;
  padding-top: 50px;
}


#about
{
  background: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
}



.temperature {
	background-color: white;
}
.settings-icon {
	height: 20px;
	vertical-align: unset;
	margin-bottom: 5px;
}

.main {
	background-color: #B2E5F0;
}

.card {
	border: 0px;
}

.list-group-item.active,
.btn-nrf {
	color: white!important;
	background-color: #00a9ce;
	border-color: #00a9ce;
}

.nrf-blue {
	color: #00a9ce;
}

.nrf-light-blue {
	color: #b2e5f0;
}

.top-card {
	margin-top: 70px;
}

.border-bottom {
	border-bottom-color: lightgrey;
}

border-right {
	border-right-color: lightgrey;
}

#splashView {
	background-color: #B2E5F0;
}

#mainlogo {
	width: 250px;
}

#flip-image {
	width: 100px;
}