*
{
  margin: 0;
  padding: 0;
}
body 
{
  font-family: sans-serif;
}
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar{
  background-image: linear-gradient(to right, #ffc04c, #ff9a00);
  padding: 0 !important;
}
.navbar-nav li a
{
  font-weight:600;
  color: #000 !important;
}



#banner
{
  background-image: linear-gradient(to right, #ffc04c, #ff9a00);
  padding-top: 5%;
}
.promo-title
{
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
  
}


#hivedata
{
  padding-bottom: 50px;
  padding-top: 50px;
}


#about
{
  background: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
}



#temperature {
	background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

.description{
  padding-bottom: 20px;
  padding-top: 20px;
}